<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sorbaçaí - Vendedor</title>

  <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon" />

  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/vendedor/vendedor.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body>
  <header class="cabecalho">
    <section class="cabecalho__marca">
      <img class="cabecalho__logo" src="/images/icon.png" />
      <h1 class="cabecalho__titulo">Sorbaçaí</h1>
    </section>
    <nav class="cabecalho__nav">
      <h2 class="cabecalho__subtitulo">Acompanhe os pedidos</h2>
      <a href="/vendedor/gerenciar" class="cabecalho__botao">
        <i class="fa-solid fa-clipboard"></i>
      </a>
    </nav>
  </header>

  <main>
    
    <article class="painel">
      <h2 class="painel__titulo">Pedidos</h2>
      <section class="painel__lista"></section>
    </article>

  </main>


  <footer class="rodape">
    <p>&copy; P. D. Ferrarezi - M32 2026</p>
  </footer>

  <script src="/js/main.js"></script>
  <script src="/js/vendedor/vendedor.js"></script>
</body>

</html>