<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sorbaçaí - Cliente</title>
  <link rel="icon" href="/images/icon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/cliente/cliente.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body>
  <header class="cabecalho">
    <section class="cabecalho__marca">
      <img class="cabecalho__logo" src="/images/icon.png" alt="" />
      <h1 class="cabecalho__titulo">Sorbaçaí</h1>
    </section>
    <nav class="cabecalho__nav">
      <h2 class="cabecalho__subtitulo">Faça seu pedido</h2>
      <a href="/cliente/carrinho" class="cabecalho__botao" aria-label="Carrinho">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
    </nav>
  </header>

  <main>
    <!-- Seção dos cards -->
    <section class="cards"></section>

    <!-- Modal de complementos/confirmar pedido -->
    <dialog class="modal">
      <button class="modal__fechar" onclick="fecharModal()">&times;</button>

      <div class="modal__corpo">
        <section class="modal__vitrine">
          <img class="modal__imagem" />

          <div class="modal__info">
            <h2 class="modal__nome"></h2>

            <p class="modal__descricao"></p>

            <p class="modal__preco"></p>
          </div>
        </section>

        <section class="modal__complementos-painel">
          <h3 class="modal__subtitulo">Complementos</h3>

          <div class="modal__complementos"></div>

          <div class="modal__botoes">
            <button class="botao botao--secundario" onclick="fecharModal()">
              Cancelar
            </button>

            <button class="botao botao--primario" onclick="confirmarAdd()">
              Adicionar ao carrinho
            </button>
          </div>
        </section>
      </div>
    </dialog>

  </main>

  <footer class="rodape">
    <p>&copy; P. D. Ferrarezi - M32 2026</p>
  </footer>

  <script src="/js/main.js"></script>
  <script src="/js/estado.js"></script>
  <script src="/js/cliente/cliente.js"></script>
</body>

</html>