<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Portaria</title>

  <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon">

  <!-- Ícones -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/portaria.css">
</head>

<body>

  <main>
    <section class="card">
  
      <div class="logo"></div>
  
      <h1>Bem-vindo</h1>
      <p><strong>Escolha seu acesso ao sistema da Sorbaçaí</strong></p>
  
      <a class="special-button" href="/redirect?tipo=vendedor">
        <i class="fa-solid fa-store"></i>
        Entrar como vendedor
      </a>
  
      <a class="special-button" href="/redirect?tipo=cliente">
        <i class="fa-solid fa-user"></i>
        Entrar como cliente
      </a>
  
      <footer class="footer">
        Sistema interno • Sorbaçaí
      </footer>
    </section>
  </main>

  <footer class="main-footer">Pietro Diosti Ferrarezi - Santxx</footer>
</body>
</html>