<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Portaria</title>

  <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon">

  <!-- Ícones -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/portaria.css">
</head>

<body>

  <main>
    <section class="acesso">
  
      <div class="acesso__logo"></div>
  
      <h1 class="acesso__titulo">Bem-vindo</h1>
      <p class="acesso__texto"><strong>Escolha seu acesso ao sistema da Sorbaçaí</strong></p>
  
      <a class="botao botao--especial" href="/redirect?tipo=vendedor">
        <i class="fa-solid fa-store"></i>
        Entrar como vendedor
      </a>
  
      <a class="botao botao--especial" href="/redirect?tipo=cliente">
        <i class="fa-solid fa-user"></i>
        Entrar como cliente
      </a>
  
      <footer class="acesso__rodape">
        Sistema interno • Sorbaçaí
      </footer>
    </section>
  </main>
  
  <footer class="rodape">
    <p>&copy; P. D. Ferrarezi - M32 2026</p>
  </footer>
</body>
</html>