/* =======================
   CARRINHO
======================= */

.carrinho {
  width: 90vw;
  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 28px;
  padding-bottom: 18px;

  background: rgba(204, 204, 204, 0.08);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border: 1px solid rgba(46, 46, 46, 0.12);
  border-radius: 22px;

  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.25);
}

.carrinho h3 {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-main-color);
  margin: 0;
}

/* =======================
   LISTA
======================= */

.itens {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 13px;

  /* justify-content: center; */

  max-height: 205px;
  min-height: 205px;
  overflow-y: scroll;
  padding-right: 5px;
}

/* Scroll bonito */

.itens::-webkit-scrollbar {
  width: 7px;
}

.itens::-webkit-scrollbar-thumb {
  background: rgba(65, 65, 65, 0.25);
  border-radius: 20px;
}

.itens .default {
  color: var(--text-detail-color);
}

/* =======================
   ITEM
======================= */

.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  gap: 15px;

  padding: 18px;

  border-radius: 18px;

  background: rgba(255, 255, 255, 0.06);

  border: 1px solid rgba(37, 37, 37, 0.08);

  transition: 0.25s;
}

/* .item:hover {
  transform: translateY(-3px);

  background: rgba(255, 255, 255, 0.1);

  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
} */

.item-infos {
  flex: 1;
}

.item h4 {
  color: var(--text-main-color);
  font-size: 1.1rem;
  margin-bottom: 13px;
}

/* .quantidade {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 30px;
  height: 30px;

  margin-right: 6px;

  border-radius: 50%;

  background: linear-gradient(135deg, #7b2cbf, #9d4edd);

  color: white;
  font-size: 0.85rem;
  font-weight: bold;
} */

.item ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.item li {
  padding: 5px 10px;

  border-radius: 5px;

  background: rgba(162, 0, 255, 0.11);

  color: var(--text-detail-color);

  font-size: 0.89rem;
}

/* =======================
   BOTÃO EXCLUIR
======================= */

.btn-excluir {
  width: 42px;
  height: 42px;

  border: none;
  border-radius: 12px;

  cursor: pointer;

  background: rgba(255, 77, 109, 0.15);
  color: #ff4d6d;

  transition: 0.2s;

  margin-left: 7px;
}

.btn-excluir:hover {
  background: #ff4d6d;
  color: white;

  transform: scale(1.08);
}

/* =======================
   RODAPÉ
======================= */

.carrinho footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-height: fit-content;
  gap: 10px;

  padding-top: 10px;

  border-top: 1px solid rgba(255, 255, 255, 0.12);
}

.carrinho footer p {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;

  color: var(--text-main-color);

  font-size: 1.35rem;
  font-weight: bold;
}

#total {
  color: #06d6a0;
}

.carrinho footer button {
  width: 100%;
}

.carrinho footer .acoes {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.carrinho footer .acoes div {
  width: 50%;
  display: flex;
  gap: 15px;
}
