:root {
  --header-background: linear-gradient(135deg, #891abd, #a521e2);
  --content-background: #faf9f6;
  --text-main-color: #333;
  --text-detail-color: #666;
  --button-primary-background: #7b2cbf;
  --button-primary-background-hover: #6222a2;
  --button-secondary-background: #ececec;
  --button-secondary-background-hover: #d8d8d8;
  --button-special-background: linear-gradient(135deg, #891abd, #a521e2);
  --border-radius: 9px;
}

@font-face {
  font-family: "Jonesy Capitals";
  src:
    url("/fonts/jonesy/Jonesy-Capitals.otf") format("opentype"),
    url("/fonts/jonesy/Jonesy-Capitals.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jonesy Script";
  src:
    url("/fonts/jonesy/Jonesy-Script.otf") format("opentype"),
    url("/fonts/jonesy/Jonesy-Script.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jonesy Capitals", sans-serif;
  color: var(--text-color);
}

html {
  height: 100%;
}

body {
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

.primary-button,
.secondary-button {
  margin-top: 5px;
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 14px 22px;
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease-out;
}
.primary-button {
  background-color: var(--button-primary-background);
  color: white;
}
.primary-button:hover {
  background-color: var(--button-primary-background-hover);
}
.secondary-button {
  background-color: var(--button-secondary-background);
}
.secondary-button:hover {
  background-color: var(--button-secondary-background-hover);
}

.special-button {
  background: var(--button-special-background);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.178);
}
.special-button:hover {
  transform: translateY(-1px) scale(1.01);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.aviso-caixa {
  display: none;
  background-color: #350563;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 3px 9px rgba(48, 48, 48, 0.486);
  position: fixed;
  z-index: 9999;
  top: 87vh;
  left: auto;
}
.aviso-caixa .erro {
  background-color: rgb(255, 75, 52);
}

.cabecalho {
  background: linear-gradient(135deg, #891abd, #a521e2);
  color: white;
  padding: 50px 30px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(123, 44, 191, 0.25);
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  max-height: 23vh;
}

.cabecalho section,
.cabecalho nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cabecalho img {
  width: 90px;
  height: auto;
}

.cabecalho h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: "Jonesy Script", sans-serif;
}

.cabecalho h2 {
  font-weight: 600;
  opacity: 0.95;
  margin-right: 1rem;
}

.botao-menu {
  color: white;
  padding: 17px;
  transition: all 0.2s ease-out;
  font-size: 1.5rem;
  margin-right: 3rem;
}
.botao-menu:hover {
  transform: scale(1.1);
}

.main-footer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-detail-color);
  background-color: white;
  box-shadow: -3px 0px 10px rgba(75, 75, 75, 0.178);
  margin-top: 1rem;
  padding-block: 1vh;
  border-radius: 20px;
}
