<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sorbaçaí - Vendedor</title>

    <link rel="shortcut icon" href="images/icon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/vendedor.css" />
  </head>
  <body>
    <header class="cabecalho">
      <section>
        <img src="/images/icon.png" />
        <h1>Sorbaçaí</h1>
      </section>
      <section>
        <h2>Registrar produto</h2>
      </section>
    </header>

    <main>

    </main>

    <footer class="main-footer">Pietro Diosti Ferrarezi - Santxx</footer>

    <script src="/js/main.js"></script>
  </body>
</html>
